body {
background-color: antiquewhite;
padding-left: 10px;
padding-right: 10px;
margin-left: 50px;

}
.detail{
    color:red;
    text-align: center;
}
.about-me{
    list-style: none;
    display: flex;
    gap: 10px;
    background-image: skyblue;
    padding: 5px;
    border-radius: 50%;
    display:flex;
}
ul li  a:hover{
    color: red;
    background-color: white;
}
.user-icon {
    display: flex;

}
.p-detail {
    text-align: center;
}
li .active a:hover{
     color: red;
    background-color: white;
}
.active, .porfolio, .more {
    text-decoration: none;
    color: black;
}
li .portfolio a:hover{
     color: red;
    background-color: white;
}
li .more a:hover{
     color: red;
    background-color: white;
}