body {
padding-left: 10px;
padding-right: 10px;
}
.detail{
    color:red;
    text-align: center;
}
.about-me{
    list-style: none;
    display: flex;
    gap: 10px;
    background-image: skyblue;
    padding: 5px;
    
}
body{
    margin-left: 50px;
}
ul li  a:hover{
    color: red;
    background-color: white;
}
.p-detail {
    text-align: center;
}
