
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6dc0f0;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;

    .todo-list {
        list-style: none;
        padding: 0;
    }
    
    .todo-list li {
        background: #f4f4f4;
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
    }
    
    .todo-list li::before {
        content: "📝 ";
    }
    
}

footer {
    text-align: center;
    padding: 10px;
    background-color:  #6dc0f0;
    color: white;
}
@media (max-width: 768px) {
    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

